* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  position: relative;
  top: 0;
  background-color: #000;
  color: #fff;
  cursor: url('cursor.png'), auto;
}

.center {
  text-align: center;
}

.inline {
  display: inline !important;
}

.block {
  display: block !important;
}

.justify {
  text-align: justify;
}

.fixed {
  position: fixed;
}

.content {
  position: relative;
  top: 50vh;
  @include transform(translateY(-50%));
}

.content-fix {
  position: relative;
  top: 50vh;
  @include transform(translateY(-60%));
}

.responsive {
  display: none;
}

.no-decoration {
  color: black;

  &:hover {
    color: black;
  }
}

a {
  text-decoration: none !important;
  cursor: url('pointer.png'), auto;

  &:hover {
    text-decoration: none !important;
    cursor: url('pointer.png'), auto;
  }
}

u {
  cursor: url('pointer.png'), auto;

  &:hover {
    cursor: url('pointer.png'), auto;
  }
}

h1 {
  font-size: 3rem;
  font-weight: 400;
}

h2 {
  font-size: 1.75rem;
  font-weight: 400;
}

p {
  font-family: 'Inconsolata', monospace;
}

.link {
  text-decoration: underline !important;
  color: #0100ff;
}

.letter-hello {
  position: relative;
  display: inline-block;
}

.letter-telescope, .letter-godaddy, .letter-gastronomads, .letter-punch, .letter-this {
  position: relative;
  display: inline-block;
  opacity: 0;
}

.letter-container {
  position: relative;
}

#underline {
  position: absolute;
  opacity: 0;
  bottom: 0;
  width: 5.5rem;
  margin-left: 6px;
  @include transition(all 0.25s ease);
  @include transform(translateY(-10px));
}

.head {
  font-size: 3.5rem;
}

.subhead {
  font-size: 1.35rem;
}

.modal {
  position: absolute;
  background-color: #fff;
  color: black;
  width: 20rem;
  padding: 1rem;
  z-index: 999;
  opacity: 0;
  text-align: left;
  cursor: url('move.png'), auto;

  .close {
    > p {
      font-size: 1.5rem;
      position: absolute;
      right: 1rem;
      top: 0.5rem;
      width: 3rem;
      height: 2rem;
      text-align: right
    }
  }

  &:active {
    cursor: url('drag.png'), auto;
  }
}

#navbar {
  padding-bottom: 1rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  opacity: 0;

  img {
    height: 1.5rem;
  }
}

#loader {
  text-align: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  @include transition(all 0.25s ease);

  > p {
    font-family: 'Libre Barcode 39 Extended Text', monospace;
    text-align: center;
    font-size: 2.5rem;
    position: relative;
  }
}

#color-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  opacity: 1;
  top: 0 !important;

  #color {
    width: 400px;
    height: 250px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50vh;
    background-color: #000;
    z-index: -1;
    //opacity: 0;
    @include transform(translate(-50%, -50%));

    h3 {
      font-weight: 400;
      position: absolute;
      opacity: 0;
      top: -2rem;
      @include transition(all 0.4s ease);
    }
  }
}

#landing {
  position: fixed;
  height: 100vh;
  width: 100vw;

  #landing-content {
    text-align: center;
  }
}

#works {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  opacity: 1;
  display: none;
  top: 0 !important;

  #works-container {
    height: 35vh;
    text-align: center;

    h1 {
      padding-left: 15rem;
      position: relative;
      top: 50%;
      @include transform(translateY(-50%));
    }
  }
}
