@font-face {
  font-family: 'Jaapokki';
  src: url("/public/media/jaapokki/jaapokki-regular.eot");
  src: url("/public/media/jaapokki/jaapokki-regular.woff") format("woff"), url("/public/media/jaapokki/jaapokki-regular.ttf") format("truetype"), url("/public/media/jaapokki/jaapokki-regular.svg") format("svg"); }

* {
  padding: 0;
  margin: 0; }

body {
  overflow: hidden;
  position: relative;
  top: 0;
  background-color: #000;
  color: #fff;
  cursor: url("cursor.png"), auto; }

.center {
  text-align: center; }

.inline {
  display: inline !important; }

.block {
  display: block !important; }

.justify {
  text-align: justify; }

.fixed {
  position: fixed; }

.content {
  position: relative;
  top: 50vh;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.content-fix {
  position: relative;
  top: 50vh;
  -moz-transform: translateY(-60%);
  -o-transform: translateY(-60%);
  -ms-transform: translateY(-60%);
  -webkit-transform: translateY(-60%);
  transform: translateY(-60%); }

.responsive {
  display: none; }

.no-decoration {
  color: black; }
  .no-decoration:hover {
    color: black; }

a {
  text-decoration: none !important;
  cursor: url("pointer.png"), auto; }
  a:hover {
    text-decoration: none !important;
    cursor: url("pointer.png"), auto; }

u {
  cursor: url("pointer.png"), auto; }
  u:hover {
    cursor: url("pointer.png"), auto; }

.glitch {
  color: white;
  position: relative;
  margin: 0 auto;
  cursor: help;
  font-size: 3rem; }
  .glitch:hover:after {
    animation: none; }
  .glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 #13c5cf;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse; }

.letter {
  position: relative;
  overflow: hidden;
  height: 1.5rem;
  line-height: 1.5rem; }

.letter-container {
  position: relative;
  overflow: hidden;
  height: 1.5rem; }

.scroll {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center; }
  .scroll img {
    height: 3rem;
    width: 0.5rem;
    -moz-transform: translateY(20%);
    -o-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -webkit-transform: translateY(20%);
    transform: translateY(20%); }

.fadeup {
  overflow: hidden;
  position: relative; }
  .fadeup .letter {
    display: inline-block;
    line-height: 1em; }

.head {
  font-size: 3.5rem; }

.subhead {
  font-size: 1.35rem; }

#navbar {
  padding-bottom: 1rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center; }
  #navbar img {
    height: 1.5rem; }

#landing {
  position: fixed;
  height: 100vh;
  width: 100vw; }
  #landing #landing-content {
    text-align: center; }
    #landing #landing-content #landing-head {
      margin-bottom: 1rem;
      font-size: 3.5rem;
      text-align: center; }
    #landing #landing-content #landing-subhead, #landing #landing-content #landing-subhead-2 {
      font-size: 1.35rem; }
    #landing #landing-content p {
      font-size: 1.5rem; }

#telescope {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  color: white;
  top: 0 !important;
  padding: 0 15vw;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  #telescope #telescope-head, #telescope #telescope-number {
    position: relative;
    margin-bottom: 1rem; }
  #telescope #telescope-color {
    position: relative;
    height: 5rem;
    background-color: #404e5c; }

@keyframes noise-anim {
  0% {
    clip: rect(1px, 9999px, 29px, 0); }
  6.66667% {
    clip: rect(56px, 9999px, 96px, 0); }
  13.33333% {
    clip: rect(49px, 9999px, 46px, 0); }
  20% {
    clip: rect(25px, 9999px, 48px, 0); }
  26.66667% {
    clip: rect(6px, 9999px, 32px, 0); }
  33.33333% {
    clip: rect(54px, 9999px, 67px, 0); }
  40% {
    clip: rect(26px, 9999px, 24px, 0); }
  46.66667% {
    clip: rect(80px, 9999px, 28px, 0); }
  53.33333% {
    clip: rect(75px, 9999px, 79px, 0); }
  60% {
    clip: rect(17px, 9999px, 91px, 0); }
  66.66667% {
    clip: rect(85px, 9999px, 50px, 0); }
  73.33333% {
    clip: rect(16px, 9999px, 11px, 0); }
  80% {
    clip: rect(68px, 9999px, 75px, 0); }
  86.66667% {
    clip: rect(23px, 9999px, 40px, 0); }
  93.33333% {
    clip: rect(76px, 9999px, 54px, 0); }
  100% {
    clip: rect(46px, 9999px, 21px, 0); } }
